.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
env.bak
venv.bak
.idea
.vscode
*.sqlite3
*.db
*.log
staticfiles/
media/
.DS_Store
Thumbs.db
node_modules/
*.env
docker-compose.override.yml
README.md
test_api.bat
run.bat